In [1]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

/kaggle/input/solar-power-generation-data/Plant_2_Weather_Sensor_Data.csv
/kaggle/input/solar-power-generation-data/Plant_1_Generation_Data.csv
/kaggle/input/solar-power-generation-data/Plant_2_Generation_Data.csv
/kaggle/input/solar-power-generation-data/Plant_1_Weather_Sensor_Data.csv

In [2]:
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns

# loading of dataset

In [3]:
plant1_sensor = pd.read_csv("/kaggle/input/solar-power-generation-data/Plant_1_Weather_Sensor_Data.csv")
plant1_generation =pd.read_csv("/kaggle/input/solar-power-generation-data/Plant_1_Generation_Data.csv")
plant2_sensor = pd.read_csv("/kaggle/input/solar-power-generation-data/Plant_2_Weather_Sensor_Data.csv")
plant2_generation = pd.read_csv("/kaggle/input/solar-power-generation-data/Plant_2_Generation_Data.csv")

# Exploring dataset- count, columns, basic stats

In [4]:
plant1_sensor.head()

,DATE_TIME,PLANT_ID,SOURCE_KEY,AMBIENT_TEMPERATURE,MODULE_TEMPERATURE,IRRADIATION
0,2020-05-15 00:00:00,4135001,HmiyD2TTLFNqkNe,25.184316,22.857507,0.0
1,2020-05-15 00:15:00,4135001,HmiyD2TTLFNqkNe,25.084589,22.761668,0.0
2,2020-05-15 00:30:00,4135001,HmiyD2TTLFNqkNe,24.935753,22.592306,0.0
3,2020-05-15 00:45:00,4135001,HmiyD2TTLFNqkNe,24.846130,22.360852,0.0
4,2020-05-15 01:00:00,4135001,HmiyD2TTLFNqkNe,24.621525,22.165423,0.0

In [5]:
plant1_generation.head()

,DATE_TIME,PLANT_ID,SOURCE_KEY,DC_POWER,AC_POWER,DAILY_YIELD,TOTAL_YIELD
0,15-05-2020 00:00,4135001,1BY6WEcLGh8j5v7,0.0,0.0,0.0,6259559.0
1,15-05-2020 00:00,4135001,1IF53ai7Xc0U56Y,0.0,0.0,0.0,6183645.0
2,15-05-2020 00:00,4135001,3PZuoBAID5Wc2HD,0.0,0.0,0.0,6987759.0
3,15-05-2020 00:00,4135001,7JYdWkrLSPkdwr4,0.0,0.0,0.0,7602960.0
4,15-05-2020 00:00,4135001,McdE0feGgRqW7Ca,0.0,0.0,0.0,7158964.0

In [ ]:
plant2_sensor.head()

In [ ]:
plant2_generation.head()

In [ ]:
plant1_sensor.describe().T

In [ ]:
plant1_generation.describe().T

In [ ]:
plant2_sensor.describe().T

In [ ]:
plant2_generation.describe().T

In [ ]:
plant1_sensor.info()

In [ ]:
plant1_generation.info()

In [ ]:
plant2_sensor.info()

In [ ]:
plant2_generation.info()

In [ ]:
plant1_sensor.columns

In [ ]:
plant1_generation.columns

In [ ]:
plant2_sensor.columns

In [ ]:
plant2_generation.columns

# Check if any missing values

In [ ]:
plant1_sensor.isnull().sum()

In [ ]:
plant1_generation.isnull().sum()

In [ ]:
plant2_sensor.isnull().sum()

In [ ]:
plant2_generation.isnull().sum()

# In our dataset DATE_TIME is of object type. So we will convert it to datetime type

In [10]:
from datetime import datetime

In [11]:
plant1_generation['DATE'] = [datetime.strftime(i,format="%d-%m-%Y") for i in pd.to_datetime(plant1_generation.DATE_TIME)]
plant1_generation['DATE'] = pd.to_datetime(plant1_generation['DATE'])

In [12]:
plant2_generation['DATE'] = [datetime.strftime(i,format="%Y-%m-%d") for i in pd.to_datetime(plant2_generation.DATE_TIME)]
plant2_generation['DATE'] = pd.to_datetime(plant2_generation['DATE'])

In [13]:
plant1_sensor['DATE'] = [datetime.strftime(i,format="%Y-%m-%d") for i in pd.to_datetime(plant1_sensor.DATE_TIME)]
plant1_sensor['DATE'] = pd.to_datetime(plant1_sensor['DATE'])

In [14]:
plant2_sensor['DATE'] = [datetime.strftime(i,format="%Y-%m-%d") for i in pd.to_datetime(plant2_sensor.DATE_TIME)]
plant2_sensor['DATE'] = pd.to_datetime(plant2_sensor['DATE'])

# Mean value of DAILY_YIELD of plant 1 & 2

In [6]:
plant1_generation["DAILY_YIELD"].mean()

3295.968737182587

In [7]:
plant2_generation["DAILY_YIELD"].mean()

3294.8902951797813

In [8]:
# finding the mean of both the generator
total_yeild = plant1_generation["DAILY_YIELD"].sum() + plant2_generation["DAILY_YIELD"].sum()
total_generator = len(plant1_generation["DAILY_YIELD"]) + len(plant2_generation["DAILY_YIELD"])
Mean_of_both= float(total_yeild)/float(total_generator)
print("Mean value of daily yeild of both the generators is : {}",format(Mean_of_both))

Mean value of daily yeild of both the generators is : {} 3295.4337832954125

# Total IRRADIATION per day

In [15]:
plant1_total_Irradiation = plant1_sensor.groupby(['DATE']).IRRADIATION.sum()
plant2_total_Irradiation = plant2_sensor.groupby(['DATE']).IRRADIATION.sum()

In [19]:
pd.DataFrame({'Date':plant1_total_Irradiation.index,'Plant1_Daily_Irradiation':plant1_total_Irradiation.values,'Plant2_Daily_Irradiation':plant2_total_Irradiation.values})

         Date  Plant1_Daily_Irradiation  Plant2_Daily_Irradiation
0  2020-05-15                 19.037010                 28.559055
1  2020-05-16                 18.651690                 23.676573
2  2020-05-17                 22.931378                 21.233595
3  2020-05-18                 15.266485                 21.495780
4  2020-05-19                 18.044861                 20.345321
5  2020-05-20                 18.245542                 26.786871
6  2020-05-21                 23.556170                 27.191185
7  2020-05-22                 22.119123                 28.535843
8  2020-05-23                 26.106652                 28.159981
9  2020-05-24                 24.937180                 27.426044
10 2020-05-25                 27.233366                 26.556925
11 2020-05-26                 24.250589                 27.234674
12 2020-05-27                 20.537566                 27.431939
13 2020-05-28                 26.032384                 28.137027
14 2020-05-29                 24.795661                 23.237209
15 2020-05-30                 21.875054                 23.826997
16 2020-05-31                 17.625458                 19.203960
17 2020-06-01                 17.649244                 13.430264
18 2020-06-02                 21.483649                 23.748618
19 2020-06-03                 21.927709                 16.614638
20 2020-06-04                 24.670974                 20.182779
21 2020-06-05                 23.192659                 22.366602
22 2020-06-06                 19.526878                 25.963741
23 2020-06-07                 24.402373                 25.034945
24 2020-06-08                 25.315527                 27.038444
25 2020-06-09                 24.754673                 23.838025
26 2020-06-10                 19.232292                 18.576323
27 2020-06-11                 15.533706                 11.277962
28 2020-06-12                 16.301551                 13.102966
29 2020-06-13                 25.389355                 20.690174
30 2020-06-14                 21.128221                 22.033630
31 2020-06-15                 19.768806                 17.765047
32 2020-06-16                 17.979125                 15.845917
33 2020-06-17                 16.988513                 11.940765

# Max ambient and module temperature

In [21]:
max_amb_mod_temp = pd.DataFrame({'Max Ambient Temp' : [plant1_sensor.AMBIENT_TEMPERATURE.max(), plant2_sensor.AMBIENT_TEMPERATURE.max()], 'Max Module Temp': [plant1_sensor.MODULE_TEMPERATURE.max(), plant2_sensor.MODULE_TEMPERATURE.max()]},index=['Plant_1','Plant_2'])
max_amb_mod_temp

         Max Ambient Temp  Max Module Temp
Plant_1         35.252486        65.545714
Plant_2         39.181638        66.635953

# **How many inverters are there for each plant?**

In [22]:
print("No. of inverters in Plant_1 : ",len(plant1_generation.SOURCE_KEY.value_counts()))
print("No. of inverters in Plant_2 : ",len(plant2_generation.SOURCE_KEY.value_counts()))

No. of inverters in Plant_1 :  22
No. of inverters in Plant_2 :  22

# Maximum/minimum amount of DC/AC Power generated in a time interval/day

# Plant1

In [24]:
pd.DataFrame({'DC_Power_Max':plant1_generation.groupby(['DATE']).DC_POWER.max().values,'DC_Power_Min':plant1_generation.groupby(['DATE']).DC_POWER.min().values,
              'AC_Power_Max':plant1_generation.groupby(['DATE']).AC_POWER.max().values,'AC_Power_Min':plant1_generation.groupby(['DATE']).AC_POWER.min().values},
             index=plant1_generation.groupby(['DATE']).DC_POWER.max().index)

            DC_Power_Max  DC_Power_Min  AC_Power_Max  AC_Power_Min
DATE
2020-05-15   12319.14286           0.0   1201.442857           0.0
2020-05-16   11986.57143           0.0   1168.842857           0.0
2020-05-17   13217.42857           0.0   1288.900000           0.0
2020-05-18   13382.75000           0.0   1304.825000           0.0
2020-05-19   11911.50000           0.0   1162.600000           0.0
2020-05-20   13241.14286           0.0   1291.000000           0.0
2020-05-21   14038.28571           0.0   1368.700000           0.0
2020-05-22   14300.28571           0.0   1394.285714           0.0
2020-05-23   13848.00000           0.0   1350.214286           0.0
2020-05-24   13286.14286           0.0   1295.414286           0.0
2020-05-25   13060.71429           0.0   1273.428571           0.0
2020-05-26   13434.42857           0.0   1309.857143           0.0
2020-05-27   13402.87500           0.0   1306.787500           0.0
2020-05-28   13810.57143           0.0   1346.500000           0.0
2020-05-29   13236.57143           0.0   1290.571429           0.0
2020-05-30   14224.85714           0.0   1386.942857           0.0
2020-05-31   13774.14286           0.0   1342.985714           0.0
2020-06-01   14019.25000           0.0   1366.887500           0.0
2020-06-02   13579.57143           0.0   1324.200000           0.0
2020-06-03   13579.42857           0.0   1324.000000           0.0
2020-06-04   14413.42857           0.0   1405.300000           0.0
2020-06-05   13598.57143           0.0   1325.871429           0.0
2020-06-06   13958.14286           0.0   1360.914286           0.0
2020-06-07   14091.71429           0.0   1373.928571           0.0
2020-06-08   13326.00000           0.0   1299.275000           0.0
2020-06-09   13702.71429           0.0   1336.000000           0.0
2020-06-10   13907.85714           0.0   1356.000000           0.0
2020-06-11   11249.42857           0.0   1098.328571           0.0
2020-06-12   10813.14286           0.0   1056.271429           0.0
2020-06-13   13743.37500           0.0   1339.962500           0.0
2020-06-14   14471.12500           0.0   1410.950000           0.0
2020-06-15   12640.00000           0.0   1232.814286           0.0
2020-06-16   12351.00000           0.0   1205.042857           0.0
2020-06-17   13869.57143           0.0   1352.271429           0.0

# Plant2

In [23]:
pd.DataFrame({'DC_Power_Max':plant2_generation.groupby(['DATE']).DC_POWER.max().values,'DC_Power_Min':plant2_generation.groupby(['DATE']).DC_POWER.min().values,
              'AC_Power_Max':plant2_generation.groupby(['DATE']).AC_POWER.max().values,'AC_Power_Min':plant2_generation.groupby(['DATE']).AC_POWER.min().values},
             index=plant2_generation.groupby(['DATE']).DC_POWER.max().index)

            DC_Power_Max  DC_Power_Min  AC_Power_Max  AC_Power_Min
DATE
2020-05-15   1331.966667           0.0   1298.673333           0.0
2020-05-16   1314.426667           0.0   1281.573333           0.0
2020-05-17   1152.142857           0.0   1124.492857           0.0
2020-05-18   1273.706667           0.0   1241.866667           0.0
2020-05-19   1361.220000           0.0   1327.193333           0.0
2020-05-20   1336.207143           0.0   1302.792857           0.0
2020-05-21   1340.066667           0.0   1306.573333           0.0
2020-05-22   1333.873333           0.0   1300.520000           0.0
2020-05-23   1325.600000           0.0   1292.471429           0.0
2020-05-24   1286.007143           0.0   1253.857143           0.0
2020-05-25   1315.073333           0.0   1282.200000           0.0
2020-05-26   1320.686667           0.0   1287.673333           0.0
2020-05-27   1316.500000           0.0   1283.606667           0.0
2020-05-28   1316.114286           0.0   1283.214286           0.0
2020-05-29   1147.906667           0.0   1120.546667           0.0
2020-05-30   1347.086667           0.0   1313.566667           0.0
2020-05-31   1343.860000           0.0   1310.640000           0.0
2020-06-01   1276.028571           0.0   1244.692857           0.0
2020-06-02   1375.413333           0.0   1341.040000           0.0
2020-06-03   1254.385714           0.0   1223.871429           0.0
2020-06-04   1414.120000           0.0   1378.766667           0.0
2020-06-05   1420.933333           0.0   1385.420000           0.0
2020-06-06   1402.600000           0.0   1367.521429           0.0
2020-06-07   1406.433333           0.0   1371.280000           0.0
2020-06-08   1391.500000           0.0   1356.692857           0.0
2020-06-09   1295.633333           0.0   1263.640000           0.0
2020-06-10   1361.126667           0.0   1327.266667           0.0
2020-06-11    802.440000           0.0    784.773333           0.0
2020-06-12    843.292857           0.0    825.192857           0.0
2020-06-13   1271.146667           0.0   1239.953333           0.0
2020-06-14   1362.060000           0.0   1328.213333           0.0
2020-06-15   1288.278571           0.0   1256.671429           0.0
2020-06-16   1133.240000           0.0   1106.440000           0.0
2020-06-17    848.146667           0.0    829.293333           0.0

# Inverter (source_key) that has produced maximum DC/AC power is

In [25]:
dc_ac =pd.DataFrame({'Inverter_Source_Key':[plant1_generation.groupby(['SOURCE_KEY']).DC_POWER.sum().sort_values(ascending=False).index[0],
                    plant2_generation.groupby(['SOURCE_KEY']).DC_POWER.sum().sort_values(ascending=False).index[0]],
                    'Max_DC':[plant1_generation.groupby(['SOURCE_KEY']).DC_POWER.sum().max(),plant2_generation.groupby(['SOURCE_KEY']).DC_POWER.sum().max()],
                        'Max_AC':[plant1_generation.groupby(['SOURCE_KEY']).AC_POWER.sum().max(),plant2_generation.groupby(['SOURCE_KEY']).AC_POWER.sum().max()],
                     },index=['Plant_1','Plant_2'])
dc_ac

        Inverter_Source_Key        Max_DC         Max_AC
Plant_1     adLQvlD726eNBSB  1.019778e+07  997125.156663
Plant_2     Mx2yZCDsyf6DPfv  9.106173e+05  890317.270321

# Rank the inverters based on the DC/AC power they produce

# Plant_1

In [26]:
index_dc_p1 = plant1_generation.groupby(['SOURCE_KEY']).DC_POWER.sum().sort_values(ascending=False).index
index_ac_p1 = plant1_generation.groupby(['SOURCE_KEY']).AC_POWER.sum().sort_values(ascending=False).index

In [27]:

ac_dict_p1 = dict() 
for i,j in zip(index_dc_p1,range(1,23,1)):
    ac_dict_p1[i] = j
ac_pr_per_dc_rank = []
for i in index_dc_p1:
    ac_pr_per_dc_rank.append(ac_dict_p1[i])
ac_pr_per_dc_rank

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22]

In [28]:
plant1_dc_ac_rank = pd.DataFrame({'Plant1_Inverter_Source_Key':index_dc_p1,'DC_Production_Rank':range(1,23,1),'AC_Production_Rank':ac_pr_per_dc_rank})
plant1_dc_ac_rank

   Plant1_Inverter_Source_Key  DC_Production_Rank  AC_Production_Rank
0             adLQvlD726eNBSB                   1                   1
1             1IF53ai7Xc0U56Y                   2                   2
2             VHMLBKoKgIrUVDU                   3                   3
3             3PZuoBAID5Wc2HD                   4                   4
4             McdE0feGgRqW7Ca                   5                   5
5             ZnxXDlPa8U1GXgE                   6                   6
6             iCRJl6heRkivqQ3                   7                   7
7             uHbuxQJl8lW7ozc                   8                   8
8             zVJPv84UY57bAof                   9                   9
9             wCURE6d3bPkepu2                  10                  10
10            pkci93gMrogZuBj                  11                  11
11            rGa61gmuvPhdLxV                  12                  12
12            YxYtjZvoooNbGkE                  13                  13
13            WRmjgnKYAwPKWDb                  14                  14
14            sjndEbLyjtCKgGv                  15                  15
15            zBIq5rxdHJRwDNY                  16                  16
16            7JYdWkrLSPkdwr4                  17                  17
17            ZoEaEvLYb1n2sOq                  18                  18
18            z9Y9gH1T5YWrNuG                  19                  19
19            ih0vzX44oOqAx2f                  20                  20
20            1BY6WEcLGh8j5v7                  21                  21
21            bvBOhCH3iADSZry                  22                  22

Plant_2

In [29]:
index_dc_p2 = plant2_generation.groupby(['SOURCE_KEY']).DC_POWER.sum().sort_values(ascending=False).index
index_ac_p2 = plant2_generation.groupby(['SOURCE_KEY']).AC_POWER.sum().sort_values(ascending=False).index

In [30]:
ac_dict_p2 = dict()
for i,j in zip(index_dc_p2,range(1,23,1)):
    ac_dict_p2[i] = j
ac_pr_per_dc_rank_p2 = []
for i in index_dc_p2:
    ac_pr_per_dc_rank_p2.append(ac_dict_p2[i])
ac_pr_per_dc_rank_p2

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22]

In [31]:
plant_2_dc_ac_rank = pd.DataFrame({'Plant_2_Inverter_Source_Key':index_dc_p2,'DC_Production_Rank':range(1,23,1),'AC_Production_Rank':ac_pr_per_dc_rank_p2})
plant_2_dc_ac_rank

   Plant_2_Inverter_Source_Key  DC_Production_Rank  AC_Production_Rank
0              Mx2yZCDsyf6DPfv                   1                   1
1              Qf4GUc1pJu5T6c6                   2                   2
2              4UPUqMRk7TRMgml                   3                   3
3              oZ35aAeoifZaQzV                   4                   4
4              V94E5Ben1TlhnDV                   5                   5
5              vOuJvMaM2sgwLmb                   6                   6
6              oZZkBaNadn6DNKz                   7                   7
7              PeE6FRyGXUgsRhN                   8                   8
8              LlT2YUhhzqhg5Sw                   9                   9
9              WcxssY2VbP4hApt                  10                  10
10             9kRcWv60rDACzjR                  11                  11
11             xoJJ8DcxJEcupym                  12                  12
12             81aHJ1q11NBPMrL                  13                  13
13             q49J1IKaHRwDQnt                  14                  14
14             rrq4fwE8jgrTyWY                  15                  15
15             IQ2d7wF4YD8zU1Q                  16                  16
16             xMbIugepa2P7lBB                  17                  17
17             mqwcsP2rE7J0TFp                  18                  18
18             NgDl19wMapZy17u                  19                  19
19             LYwnQax7tkwH5Cb                  20                  20
20             Et9kgGMDl729KT4                  21                  21
21             Quc1TzYxW2pYoWX                  22                  22

# Is there any missing data?

In [ ]:
print("*******************Plant_1_Sensor*****************")
print(plant1_sensor.isna().sum()/plant1_sensor.shape[0]*100)
print("*******************Plant_1_Generation*****************")
print(plant1_generation.isna().sum()/plant1_generation.shape[0]*100)
print("*******************Plant_2_Sensor*****************")
print(plant2_sensor.isna().sum()/plant2_sensor.shape[0]*100)
print("*******************Plant_2_Generation*****************")
print(plant2_generation.isna().sum()/plant2_generation.shape[0]*100)